* {
margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
}

.header {
min-height: 60vh;
width: 100%;
background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(meeting.png);
background-position: center;
background-repeat: no-repeat;
position: relative;
border-bottom: 1px solid lightgrey;
animation: breath 15s linear infinite;
}

@keyframes breath {
0% { background-size: 100%;}
50% { background-size: 130%; }
100% { background-size: 100%; background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(jblgirl.png); }
}

.firstnav{
display: flex;
padding: 1% 6%;
justify-content: space-between;
align-items: center;
}

.firstnav img{
width: 80px;
border-radius: 10px;
}

.nav-links{
flex: 1;
text-align: right;
color: white;
}

.nav-links ul li {
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}

.nav-links ul li button{
text-align: center;
padding: 5px 3px;
border: none;
color: white;
background: #00acee;
width: 150%;
font-size: 14px;
font-family: product sans;
font-weight: 800;
border-radius: 15px;
transition: 0.5s;
}

.nav-links ul li button:hover{
opacity: 0.7;
}

.nav-links ul li a{
color: #fff;
text-decoration: none;
font-size: 13px;
}


.nav-links ul li::after{
content: ' ';
width: 0%;
height: 2px;
background: #f44336;
display: block;
margin: auto;
transition: 0.5s;
}

.nav-links ul li:hover::after{
width: 100%;
}

.text-box {
width: 90%;
color: #fff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}

.text-box h1{
font-size: 62px;
}

.text-box p{
margin: 10px 0 40px;
font-size: 14px;
color: #fff;
}

.hero-btn {
display: inline-block;
text-decoration: none;
color: #fff;
border: 1px solid #fff;
font-size: 13px;
background: transparent;
position: relative;
cursor: pointer;
padding: 10px;
}

.hero-btn:hover {
border: 1px solid #f44336;
background: lightgreen;
transition: 1s;
}

.content{
min-height: 80vh;
width: 100%;
position: relative;
background: rgb(238, 253, 253);
}

.cover {
display: flex;
flex-direction: column;
gap: 3rem;
padding: 5% 13%;
}

.content2{
min-height: 80vh;
width: 100%;
position: relative;
background: black;
}

.cover2 {
display: flex;
flex-direction: column;
gap: 3rem;
padding: 5% 13%;
}

.line1 h3{
font-weight: 800;
font-family: sans-serif;
}

.line2 {
display: flex;
gap: 1.2rem;
margin-top: 25px;
}

.line2 .pages1 {
width: 100%;
min-height: 43vh;
background: white;
box-shadow: 1px 1px 4px 3px rgba(0,0,0, 0.1);
display: flex;
flex-direction: column;
padding: 3px 5px;
}

.pic1 {
width: 100%;
height: 20vh;
background-image: url(undraw_mobile_marketing_re_p77p.svg);
background-size: 150px;
background-position: center;
background-repeat: no-repeat;
}

.pic2 {
width: 100%;
height: 20vh;
background-image: url(undraw_relaxing_at_home_re_mror.svg);
background-size: 150px;
background-position: center;
background-repeat: no-repeat;
}

.pic3 {
width: 100%;
height: 20vh;
background-image: url(undraw_video_streaming_re_v3qg.svg);
background-size: 150px;
background-position: center;
background-repeat: no-repeat;
}


.pic4 {
width: 100%;
height: 20vh;
background-image: url(undraw_lost_online_re_upmy.svg);
background-size: 150px;
background-position: center;
background-repeat: no-repeat;
}

.pic5 {
width: 100%;
height: 20vh;
background-image: url(guy2.jpg);
background-size: 150px;
background-position: center;
background-repeat: no-repeat;
}

.pic6 {
width: 100%;
height: 20vh;
background-image: url(undraw_home_cinema_l7yl.svg);
background-size: 150px;
background-position: center;
background-repeat: no-repeat;
}


.write1 {
text-align: center;
padding: 20px 38px;
}

.write1 p{
color: grey;
font-size: 12px;
margin-top: 6px;
font-weight: 600;
line-height: 20px;
}

.write1 button{
text-align: center;
padding: 5px 3px;
border: none;
color: white;
background: black;
width: 70%;
margin-top: 16px;
font-size: 14px;
font-family: product sans;
font-weight: 800;
border-radius: 15px;
cursor: pointer;
}

.write1 button:hover{
box-shadow: 4px 4px 4px 3px rgba(0,0,0, 0.3);
font-size: 16px;
}


.tech {
color: #00acee;
font-weight: 800;
}

.fashion {
color: red;
font-weight: 800;
}

.arts {
color: lightgreen;
font-weight: 800;
}


.services {
color: orange;
font-weight: 800;
}

.entertainment {
color: blue;
font-weight: 800;
}

.offer  {
width: 100%;
min-height: 50vh;
background: black;
padding: 17px 3px;
border-radius: 10px;
display: flex;
}

.offer h1 {
text-align: left;
font-weight: 800;
font-size: 30px;
line-height: 45px;
color: white;
}

.offer p {
color: grey;
line-height: 25px;
padding: 15px 0px;
margin-top: 20px;
}

.offer button {
border: none;
background: #00acee;
border-radius: 20px;
padding: 8px 18px;
text-align: center;
font-size: 14px;
font-weight: 800;
color: white;
margin-top:5px;
transition: 0.5s;
box-shadow: 4px 4px 4px 3px rgba(0,0,0, 0.3);
cursor: pointer;
}


.offer button:hover {
opacity: 0.4;
}

.text {
width: 110%;
}

.image {
width: 70%;
height: 40vh;
background-image: url(social.png);`
background-position: center;
background-size: 315px;
background-repeat: no-repeat;
}

.text2 {
width: 110%;
}


.text2 h3{
color: red;
}

.image2 {
width: 70%;
height: 40vh;
background-image: linear-gradient(transparent, transparent, transparent, transparent, black), url(man5.png);`
background-position: center;
background-size: 315px;
background-repeat: no-repeat;
}


/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-height: 670px){
.cover{
padding-left: 8%;
padding-top: 8%;
padding-bottom: 10%;
}

nav img{
width: 55px;
padding: 20% 4%;
}

.first-pic{
background-size: 340px;
}

.hire{
width: 20%;
padding: 4px 5px;
margin-top: 35%;
}

.house img{
display: none;
}

.box p{
line-height: 25px;
font-size: 17px;
}


}

@media (max-height: 570px){
.first-pic{
background-size: 250px;
background-position: right;
}

.second-pic{
background-size: 347px;
background-position: left;
background-repeat: no-repeat;
}
.third-pic{
background-size: 310px;
background-position: left;
background-repeat: no-repeat;
}

.cover{
padding-left: 11%
}

.text-box p{
font-size: 10px;
}

nav img{
width: 45px;
padding: 20% 4%;
}

.rightimage {
width: 100%;
min-height: 50vh;
background-position: center;
background-size: 10px;

}


}




@media (max-width: 1000px){
.text-box h1{
font-size: 20px;
}

.nav-links ul li{
display: block;
}

.nav-links {
position: absolute;
background: #f44366;
width: 200px;
top: 0;
right: 0;
text-align: left;
z-index: 2;
display: none;
}

.house {
display: flex;
flex-direction: column;
gap: 3rem;
overflow: hidden;
}

.sidenav{
display: block;
}

.opener {
font-size: 30px;
color: white;
text-align: right;
margin-left: 60%;
font-weight: light;

}

.box-content1 {
width: 100%;
display: flex;
flex-direction: column;
gap: 1rem;
align-items: center;
justify-content: center;
margin-top: -24px;
}

.box-content1 .page1{
width: 94%;
background-size: cover;
}

.box-content1 .page2{
width: 94%;
background-size: cover;
}


.box h2{
font-family: 'Proxima Nova', helvetica, sans-serif;
font-weight: 1;
font-size: 30px;
text-align: center;
}

.box-content1 .page3{
width: 94%;
background-size: 90%;
}

.cover h2::after{
display: none;
}

.cover{
padding-top: 8%;
}


.box-content1 span{
display: block;
font-size: 15px;
color: #00acee;
font-weight: 800;
font-family: roboto;
margin-top: 30px;
}

.header {
background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(meeting.png);
}

.now {
display:  flex;
flex-direction: column;
gap: 2rem;
align-items: center;
}

.rightimage {
width: 100%;
min-height: 50vh;
background-position: center;
background-size: 280px;
}

.leftwrite {
width: 100%;
text-align: center;
font-size: 20%;
}

.offer  {
display: flex;
flex-direction: column;
}


.offer h1 {
text-align: center;
font-size: 27px;
}

.offer p {
color: grey;
padding: 15px 0px;
margin-top: 10px;
text-align: center;
}

.offer button {
border: none;
background: #00acee;
border-radius: 20px;
padding: 8px 18px;
text-align: center;
font-size: 14px;
font-weight: 800;
color: white;
margin-top:5px;
transition: 0.5s;
box-shadow: 4px 4px 4px 3px rgba(0,0,0, 0.3);
cursor: pointer;
margin-left: 80px;
}

.image {
width: 100%;
height: 40vh;
background-image: url(social.png);`
background-position: center;
background-size: 315px;
background-repeat: no-repeat;
}

.cover2 {
padding: 5% 5%;
}

br {
display: none;
}

}