.the-loan {
padding: 60px 20px;
}


.the-loan-write h1{
font-size: 30px;
font-weight: 700;
font-family: Open Sans;
}

.the-loan-write p{
font-size: 14px;
font-weight: 600;
font-family: Open Sans;
color: rgba(0,0,0,0.6);
line-height: 1.7;
}

.change {
align-items: center;
}

.loan-left h1 {
font-size: 36px;
font-weight: 700;
font-family: "Montserrat", sans-serif;
color: black;
line-height: 1.3;
}



.loan-left p {
font-size: 16px;
font-weight: ;
font-family: "Montserrat", sans-serif;
line-height: 1.3;
}

input {
width: 100%;
height: 45px;
border: 1px solid rgba(0,0,0,0.2);
border-radius: 5px;
padding-left: 15px;
}


input['text'] {
padding-left: 40px;
}

.row1 {
margin-top: 20px;
}

label {
font-size: 18px;
}

#submit {
color: white;
margin-top: 20px;
background: red;
font-weight: 600;
font-size: 13px;
font-family: "Monserrat", sans-serif;
}

.loan-form {
padding: 60px 0px;
}

#shift {
margin-top: 100px;
}

.only {
color: red;
font-weight: 600;
}